body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;

}

h1{
  color: #373737;
margin-top: 0;
font-family: 'Sacramento', cursive;
}

h2{
  color: #5d5e60;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
padding-bottom: 10px;
}
h3{
  font-weight: 50;
  color: #5d5e60;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 2;
}

.top-container{
  padding-top: 100px;
  background-color: #abafbb;
  height: 50%;
  position: relative;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.profile-pic{
  max-width: 10;
  max-height: auto;

}
.intro{
  width: 30%;
  margin: auto;
}

.middle-container{
  padding-top: 50px;
  position: relative;
  background-color: #d5d6d8;

}
.programming{
  max-width: 25%;
  width: 150px;
  max-height: auto;
  float: left;
  margin-right: 30px;

}
.trading{
  max-width: 25%;
  width: 150px;
  max-height: auto;
  float: right;
  margin-left: 30px;

}
.skill-row{
  width: 50%;
 margin: 100px auto;
 text-align: left;
 letter-spacing: normal;


}

.tnt{


}

#skill{
  margin: 100px auto;
}

hr{
  width: 4%;
  border-top: 5px;
  border-style: dotted none none none;
  color: #eaf6f6;
  height: 1px;
}
.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #30373b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-me1{
  width: 30%;
  margin: auto;

}
.btn:hover {
  background: #a0afb8;
  background-image: -webkit-linear-gradient(top, #a0afb8, #574855);
  background-image: -moz-linear-gradient(top, #a0afb8, #574855);
  background-image: -ms-linear-gradient(top, #a0afb8, #574855);
  background-image: -o-linear-gradient(top, #a0afb8, #574855);
  background-image: linear-gradient(to bottom, #a0afb8, #574855);
  text-decoration: none;
}
.bottom-container{
  padding: 50px 0 20px;
background-color: #abafbb;
}

a{
  font-family: 'Montserrat', sans-serif;
  margin: 20px 30px;
  color: #5d5e60;
  text-decoration: none;

}

a:hover{
  color: black;
}

.copyright{
  padding: 50px 0 5px;
}
